/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin-bottom: 0rem;
}

img {
    width: 100%;
}

:root {
    --primary-color: #9cc3d5ff;
    --secondary-color: #0063b2ff;
    --shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

/* Utility Classes */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
}

.btn {
    display: inline-block;
}

.btn:hover {
    transform: scale(0.98);
}

.btn-primary {
    background-color: var(--secondary-color);
    color: #fff;
    border-width: 0;
    padding: 0.6rem 1.4rem;
    border-radius: 5px;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

/* Styling for the SVG background */
.custom-shape-divider-bottom-1604316163 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1604316163 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 210px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1604316163 .shape-fill {
    fill: #FFFFFF;
}


/* Header */
.header {
    background-color: var(--primary-color);
    color: #fff;
    height: 80px;
}

.header .flex {
    justify-content: space-between;
}

.title {
    font-weight: bold;
    letter-spacing: 3px;
}

.navbar ul{
    display: flex;
}

.navbar li {
    list-style: none;
    margin: 1.5rem;
    padding-bottom: 0.2rem;
}

.navbar li:hover {
    border-bottom: 3px solid #fff;
}

.navbar i {
    padding-right: 0.3rem;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}


/* Showcase Section */
.showcase {
    position: relative;
    background-color: var(--primary-color);
    min-height: 65vh;
}

.showcase-content {
    flex: 1;
}

.showcase-content p {
    font-size: 1.3rem;
}

.showcase-content a {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    margin-top: 2rem;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.showcase-image {
    flex: 2;
    z-index: 2000;
}


/* Cards Section */
.cards {
    margin: 10rem 0 15rem 0;
}

.cards .flex {
    gap: 50px;
}

.prime {
    min-height: 450px;
}

.card {
    background-color: #f4f4f4;
    max-width: 280px;
    padding: 2.5rem;
    box-shadow: var(--shadow);
    color: var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.card img {
    width: 70%;
}

.card h2 {
    margin: 1.5rem 0 1.5rem 0;
}


/* Contact */
.contact {
    background:var(--primary-color);
    padding: 5rem 0rem;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.contact::before {
    content: '';
    height: 100px;
    position: absolute;
    background:var(--primary-color);
    top: -50px;
    right: 0;
    left: 0;
    transform: skewY(3deg);    
}

.contact-image {
    flex: 2;
}

.contact-image img {
    width: 100%;
}

.form-wrap {
    text-align: center;
    background-color: #fff;
    box-shadow: var(--shadow);
    min-width: 500px;
    max-width: 800px;
    margin: auto;
    padding: 4.5rem 2rem;
    border-radius: 15px;
    z-index: 40;
}

.contact h1 {
    margin-bottom: 2rem;
    text-align: center;
    /* text-transform: uppercase; */
}

.contact form {
    margin-right: 40px;
    flex: 3;
}

.wrap {
    text-align: center;
    margin-bottom: 1rem;
}

.wrap input {
    padding: 0.5rem;
    min-width: 300px;
    /* box-shadow: var(--shadow); */
    outline: none;
    border-width: 0;
    border-bottom: 1px solid  grey;
}

.contact button {
    margin-top: 1.4rem;
}

/* Footer */

footer {
    padding: 2rem 0;
    background-color: #333;
    color: #fff
}

footer .flex {
    flex-direction: column;
}

.social i {
    padding-right: 1rem;
    font-size: 2rem;
    margin-bottom: 0.6rem;
    color: var(--primary-color);
}

.credits,
.privacy {
    font-size: 1.3rem;
    padding-bottom: 0.6rem;
}


/* SignUp Page */
.signup {
    display: flex;
    height: 100vh;
}

/* Left */
.left {
    flex: 1;
    position: relative;
}

.left img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
    opacity: 0.6;
    /* filter: blur(3px); */
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 500px;
    width: 95%;
    margin: 0 auto;
}

.left-content .title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.left-content h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.left-content p {
    font-size: 1.5rem;
    text-align: center;
}

/* Right */
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.right h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.control {
    margin-bottom: 1.6rem;
    text-align: center;
}

.control-btn {
    margin-top: 3rem;
}

.control input {
    border-width: 0;
    border-bottom: 1px solid gray;
    padding: 0.4rem 0.2rem;
    min-width: 300px;
    color: #333;
    outline: none;
}

.or {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}

.or .bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}

.or span {
    color: #333;
    padding: 0 0.8rem;
}

.control a {
    text-decoration: none;
    background: var(--secondary-color);
    color: #fff;
    padding: 0.7rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
    margin-top: 0.7rem;
}

.other-info {
    margin-top: 1rem;
}

.other-info a {
    text-decoration: underline;
    color: var(--secondary-color);
    font-size: 0.9rem;
}


/* Login Page */
.login {
    display: flex;
    height: 100vh;
}


/* Media Queries */

@media(max-width: 640px) {
    .header {
        height: 120px;
        padding: 0.6rem 0;
    }

    .header .flex {
        flex-direction: column;
    }

    .title {
        padding-bottom: 0.4rem;
    }

    .navbar ul {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .showcase {
        padding-top: 4rem;
        text-align: center;
    }

    .showcase-image {
        display: none;
    }

    .showcase-content {
        max-width: 300px;
    }
}

@media(max-width: 1000px) {
    .cards .flex {
        flex-direction: column;
    }
}

@media(max-width: 768px) {
    .contact-image {
        display: none;
    }

    .form-wrap {
        padding: 4.5rem 0rem;
        min-width: 400px;
    }

    .left {
        display: none;
    }
}

@media(max-width: 500px) {
    .wrap input {
        min-width: 250px;
    }

    .form-wrap {
        min-width: 330px;
    }
    .contact .container {
        padding: 0 8px;
    } 
    
    .header .container {
        padding: 0 10px;
    }

    .header {
        height: 150px;
    }
}

@media(max-width: 350px) {
    .form-wrap {
        min-width: 200px;
        padding: 4.5rem 0.6rem;
    }

    .control input {
        min-width: 280px;
    }
}